#carousel {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

#slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  color: #000;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding: 10px 0 20px;
}

.tarjeta-persona {
  padding: 25px 20px 30px;
  scroll-snap-align: center;
  position: relative;
  min-width: 33%;
  text-align: center;
  background-color: #ffffff;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.flecha {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flecha-amarilla {
  background-color: #ffd83b;
  border: 1px solid #000;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flecha-amarilla i {
  font-size: 20px;
  color: #000;
}

.caja-indicadores {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 0 0;
  gap: 10px;
}

.indicador {
  cursor: pointer;
  width: 50px;
  height: 10px;
  border: 1px solid #000;
}

.indicador.activo,
.indicador:hover {
  background-color: #ccc;
}

@media screen and (max-width: 768px) {
  #slide-container {
    gap: 15px;
  }

  .tarjeta-persona {
    padding: 20px;
    min-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .tarjeta-persona {
    padding: 15px;
    min-width: 100%;
  }
}
